
<!-- Modal cambia email -->
<div class="modal fade" id="emailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">Cambiar Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="limpiaMensajeEmail()"></button>
            </div>
            <!-- end modal header -->

            <!-- modal body -->
            <div class="modal-body">    
                <!-- formulario -->
                <form method="post" id="formCambiaEmail">   
                    <!-- content form -->
                    <div>
                        <p class="d-block">
                            Escriba en la casilla su nuevo email. Presione "Guardar" para confirmar los cambios.
                        </p>
                        
                        <div class="d-block text-center">
                            {% csrf_token %}
                            {{form_cambio_email}}
                        </div>

                        <div id="loadingEmail" style="display: none;"></div>

                        <div class="d-block text-center" id="divMensajeEmail">
                            <!-- acá debería estar el mensaje que indica éxito/fracaso de la operación -->
                        </div>
                                            
                    </div>
                    <!-- content form -->
            </div>
            <!-- end modal body -->

            <!-- modal footer -->
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="btnGuardarEmail">Guardar</button>
                    
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="limpiaMensajeEmail()">Cerrar</button>
                    
            </div>
            <!-- end modal footer -->
                </form>
                <!-- end formulario -->
          
        </div>
    </div>
</div>
<!-- end modal cambia email -->

<!-- scripts -->
<script>const cambiaEmailUrl = "{% url 'usr:cambia_email' %}"</script>