

<!-- Modal cambia password -->
<div class="modal fade" id="cambiaPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cambiaPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="cambiaPasswordModalLabel">Cambiar contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="limpiaMensajePass()"></button>
            </div>
            <!-- end modal header -->

            <!-- modal body -->
            <div class="modal-body">

                <!-- formulario -->
                <form method="post" id="formCambiaPassword">
                
                <div>
                    <div class="d-block text-center">

                        {% csrf_token %}
                        {{form_cambio_password.as_p}}
                    </div>
                    
                    <div id="loadingPass" style="display: none;"></div>

                    <div class="d-block text-center" id="divMensajePass">
                        <!-- acá debería estar el mensaje que indica éxito/fracaso de la operación -->
                    </div>
                    
                </div>
                
            </div>
            <!-- end modal body -->

            <!-- modal footer -->
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="btnGuardarPass">Guardar</button>
                
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="limpiaMensajePass()">Cerrar</button>                
            </div>
            <!-- end modal footer -->

            </form>
            <!-- end form-->
      
        </div>
    </div>
</div>
<!-- end mdoal cambia password -->


<script>let cambiaPasswordUrl = "{% url 'usr:cambia_password' %}"</script>