<!-- Modal cambia datos -->
<div class="modal fade" id="modificarDatosModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modificarDatosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modificarDatosModalLabel">Cambiar datos personales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="limpiaMensajeModDatos()"></button>
            </div>
        
            <div class="modal-body">

                <!-- formulario -->
                <form method="post" id="formModificaDatos">
                
                <div>
                    <p class="d-block">
                        Estos son sus datos actuales. Escriba el dato actualizado en la casilla correspondiente y presione "Guardar" para confirmar los cambios.
                    </p>
                    <div class="d-block text-center">

                        {% csrf_token %}
                        {{form_cambio_datos.as_p}}
                    </div>
                    <div id="loadingModificarDatos" style="display: none;"></div>

                    <div class="d-block text-center" id="divMensajeModDatos">
                        <!-- acá debería estar el mensaje que indica éxito/fracaso de la operación -->
                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="btnGuardarModificarDatos">Guardar</button>
                
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="limpiaMensajeModDatos()">Cerrar</button>
                
            </div>
        
                </form>
                <!-- end form-->
      
        </div>
    </div>
</div>


<script>let modificaDatosUrl = "{% url 'usr:cambia_datos' %}"</script>