{% extends "main/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'usuarios/css/perfil.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/cambiaEmail.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/modificaDatos.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/cambiaPass.css' %}">
{% endblock %}
{% block title %}Mis Datos{% endblock %}

{% block content %}

<!-- modal que permite la modificación de datos -->
<div>
    {% include "usuarios/modificar_datos_modal.html" %}  
</div>
<!-- end div modal modificación de datos -->


<!-- modal que permite cambiar email -->
<div>
    {% include "usuarios/cambia_email_modal.html" %}  
</div>
<!-- end div modal cambia email -->


<!-- modal que permite cambiar password -->
<div>
    {% include "usuarios/cambia_password_modal.html" %}  
</div>
<!-- end div modal cambia password -->



<!-- div de datos usuario -->
<div class="container text-center my-5" id="contenedorPerfil">
    <h1>Datos de <span id="nombreTitulo">{{usuario.first_name}}</span> <span id="apellidoTitulo">{{usuario.last_name}}</span></h1>
    <!-- div de datos usuario-->
    <div class="my-5">
        <div>
            <p class="pDatoLabel">Rut</p>
            <p class="pDatoText" id="rut">{{usuario.username}}</p>
        </div>
        <div>
            <p class="pDatoLabel">Nombre</p>
            <p class="pDatoText" id="nombre">{{usuario.first_name}}</p>
        </div>
        <div>
            <p class="pDatoLabel">Apellido</p>
            <p class="pDatoText" id="apellido">{{usuario.last_name}}</p>
        </div>
        <div>
            <p class="pDatoLabel">E-mail</p>
            <p class="pDatoText" id="email">{{usuario.email}}</p>
        </div>
        <div>
            <p class="pDatoLabel">Dirección</p>
            <p class="pDatoText" id="direccion">{{usuario.direccion}}</p>
        </div>
        <div>
            <p class="pDatoLabel">Última conexión</p>
            <p class="pDatoText" id="ultimaConexion">{{usuario.last_login}}</p>
        </div>
    </div>

    
    <!-- boton modificar datos-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarDatosModal">
        <div class="d-flex">
            <span class="material-symbols-outlined mx-1">person_edit</span>
            Modificar datos
        </div>
    </button>
    <!-- end boton modificar datos -->

    <!-- boton cambiar email -->
    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#emailModal">
        <div class="d-flex">
            <span class="material-symbols-outlined mx-1">mail</span>
            Cambiar Email
        </div>
    </button>
    <!-- end boton cambiar email -->

    <!-- boton cambiar contraseña -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cambiaPasswordModal">
        <div class="d-flex">
            <span class="material-symbols-outlined mx-1">password</span>
            Cambiar contraseña
        </div>            
    </button>
    <!-- end boton cambiar contraseña-->
    
</div>
<!-- end div datos usuario -->

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'usuarios/js/cambiaEmail.js' %}"></script>
<script src="{% static 'usuarios/js/modificaDatos.js' %}"></script>
<script src="{% static 'usuarios/js/cambiaPassword.js' %}"></script>







{% endblock %}