{% extends "main/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'usuarios/css/cambiaEmail.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/modificaDatos.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/cambiaPass.css' %}">
{% endblock %}
{% block title %}Mis Datos{% endblock %}

{% block content %}

<!-- modal que permite la modificación de datos -->
<div>
    {% include "usuarios/modificar_datos_modal.html" %}  
</div>
<!-- end div modal modificación de datos -->


<!-- modal que permite cambiar email -->
<div>
    {% include "usuarios/cambia_email_modal.html" %}  
</div>
<!-- end div modal cambia email -->


<!-- modal que permite cambiar password -->
<div>
    {% include "usuarios/cambia_password_modal.html" %}  
</div>
<!-- end div modal cambia password -->


{% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        


<div class="text-center my-5" style="width: 50%; margin: auto;">
    <h1>Datos de <span id="nombreTitulo">{{usuario.first_name}}</span> <span id="apellidoTitulo">{{usuario.last_name}}</span></h1>
    <table class="table table-hover my-5">
        <tbody>
            <tr>
                <th scope="row" class="table-info">Rut</th>
                <td id="rut">{{usuario.username}}</td>        
            </tr>
            <tr>
                <th scope="row" class="table-info">Nombre</th>
                <td id="nombre">{{usuario.first_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="table-info">Apellido</th>
                <td id="apellido">{{usuario.last_name}}</td>
            </tr>
            <tr>
                <th scope="row" class="table-info">E-mail</th>
                <td id="email">{{usuario.email}}</td>
            </tr>
            <tr>
                <th scope="row" class="table-info">Dirección</th>
                <td id="direccion">{{usuario.direccion}}</td>
            </tr>
            <tr>
                <th scope="row" class="table-info">Última conexión</th>
                <td id="ultimaConexion">{{usuario.last_login}}</td>
            </tr>
        </tbody>
      </table>
    
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarDatosModal">
        Modificar datos
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailModal">
        Cambiar Email
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cambiaPasswordModal">
        Cambiar contraseña
    </button>

    
    

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'usuarios/js/cambiaEmail.js' %}"></script>
<script src="{% static 'usuarios/js/modificaDatos.js' %}"></script>
<script src="{% static 'usuarios/js/cambiaPassword.js' %}"></script>







{% endblock %}