{% extends 'autenticacion/base_auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block body %}

    <!-- div content -->
    <div class="container text-center my-5">
        
        <h1>Inicio de Sesión</h1>
        
        <!-- div contenedor de formulario -->
        <div id="divlogin" class="container my-5 formulario border border-primary p-3">
            <!-- formulario -->
            <form action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="d-flex justify-content-center ">
                    <button class="btn btn-primary" type="submit">Ingresar</button>
                </div>
            </form>
            <!-- end formulario -->
        </div> 
        <!-- end div contenedor de formulario -->
        
        <!-- boton registro -->
        <div>
            <a href="{% url 'auth:registro' %}"> <button class="btn btn-secondary">Registro</button></a>
        </div>

        <!-- boton password reset -->
        <div class="my-3">
            <a href="{% url 'auth:password_reset' %}">Olvidé la contraseña</a>
        </div>

    </div>
    <!-- end div content -->

{% endblock %}


{% block extra %}
{% include 'main/sticky_footer.html' %}
{% endblock %}
