{% extends 'autenticacion/base_auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Reestablecer contraseña{% endblock %}


{% block body %}

    <!-- div content -->
    <div class="container text-center">
        <h1 class="my-5">Reestablecer contraseña</h1>
        
        <!-- div password reset -->
        <div id="divPassReset" class="container text-center">

            <p>¿Ha olvidado su contraseña? Introduzca su dirección de email abajo, y le enviaremos a su email las instrucciones necesarias para reestablecer su contraseña.</p>
            
            <!-- div contenedor de formulario -->
            <div class="border border-primary p-3">
                <!-- formulario -->
                <form method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div><!--end div button-->
        
                </form>
                <!-- end formulario -->
            </div>
            <!-- end div contenedor de formulario -->
        </div>
        <!-- end div password reset -->

        <!-- boton login -->
        <div class="my-5">
            <a href="{% url 'auth:login' %}"> <button class="btn btn-danger">Volver</button></a>
        </div>

    </div>
    <!-- end div content -->

{% endblock %}


{% block extra %}
{% include 'main/footer_no_sticky.html' %}
{% endblock %}