{% extends 'autenticacion/base_auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Envío email reestablecer contraseña{% endblock %}


{% block body %}

    <!-- div content -->
    <div class="container text-center">
        <h1 class="my-5">Envío de email para reestablecer contraseña</h1>
        
        <p>Le hemos enviado las instrucciones a su email para reestablecer su contraseña. Si no lo encuentra en la bandeja principal, puede que esté en la carpeta Spam.</p>
        <p>Si no ha recibido ningún email, quiere decir que el email ingresado por usted para reestablecer su contraseña no corresponde al de ningún usuario que esté registrado en nuestra plataforma.
            Por favor, intente nuevamente, asegurándose que el email de recuperación sea el de su cuenta.</p>
        
        <!-- boton login -->
        <div class="my-5">
            <a href="{% url 'auth:login' %}"> <button class="btn btn-danger">Volver</button></a>
        </div>
        
    </div>
    <!-- end div content -->

    

{% endblock %}


{% block extra %}
{% include 'main/sticky_footer.html' %}
{% endblock %}