{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ha recibido este email porque ha pedido reestablecer su contraseña para su cuenta de usuario en {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, haga click en el siguiente enlace que lo llevará a una página para establecer una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Su usuario, en caso que lo haya olvidado:" %} {{ user.get_username }}

{% translate "Gracias por usar nuestra plataforma!" %}

{% blocktranslate %}Equipo de {{ site_name }} {% endblocktranslate %}

{% endautoescape %}