{% extends 'autenticacion/base_auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Éxito Reestablecer contraseña{% endblock %}


{% block body %}

    <div class="container text-center">
        <h1 class="my-5">Contraseña actualizada</h1>
        
        <p>
            Se ha establecido una nueva contraseña para su cuenta. Ahora puede ingresar a nuestra plataforma.
        </p>
        
        <div class="my-5">
            <a href="{% url 'auth:login' %}"> <button class="btn btn-primary">Ingresar a plataforma</button></a>
        </div>
    </div>

{% endblock %}

{% block extra %}
{% include 'main/sticky_footer.html' %}
{% endblock %}