.divinfo {
    font-size: larger;

}



.paso {
    font-size: larger;
}

.sel {
    width: 50% !important;
    margin: auto;
    
}


#loading{
    height: 50px;
    width: 50px;
    border: 6px solid;
    border-color:black white;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }


.imagenmedico {
  width: 200px;
  height: 200px;
}

.unable {
  color:red;
  font-size: x-large;
}

#error_horas {
  color: red;

}