{% extends "main/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hospital/css/hospital.css' %}">
{% endblock %}
{% block title %}Médicos{% endblock %}

{% block content %}

<div class="container text-center my-5">

    <h1>Médicos</h1>
</div>

{% if medicos %}

<div class="album py-5">
  <div class="container text-center">
    <div class="row">
      {% for medico in medicos %}
        <div class="col-md-4">
          <!-- card -->
          <div class="card mb-4 shadow-sm">
            <!-- img -->
             <div class="text-center">

               {% if medico.imagen %}
                 <img src="{{ medico.imagen.url }}" class="imagenmedico img-fluid rounded-circle" alt="{{medico}}">
               {% endif %}
             </div>
            <!-- end img -->

            <!-- card body -->
            <div class="card-body">
              <h5 class="card-title">Dr. {{medico.nombre | capfirst}} {{medico.apellido | capfirst}}</h5>
              <p class="card-text">Especialidad: {{medico.especialidad | capfirst}}</p>
              <p class="card-text">Box de atención: {{medico.box | capfirst}}</p>
              <!-- <p class="card-text">dd{{ m.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">asa</small>
              </div> -->
            </div>
            <!-- end card body -->


          </div>
          <!-- end card -->
        </div>
      {% endfor %}
    </div>
  </div>
</div>



{% else %}

No hay medicos disponibles

{% endif %}

{% endblock %}