{% extends "main/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hospital/css/hospital.css' %}">
{% endblock %}
{% block title %}Médicos{% endblock %}

{% block content %}
<!-- title -->
<div class="container text-center my-5">

    <h1>Médicos</h1>
</div>
<!-- end title -->

{% if medicos %}
<h3 class="text-center">Nuestro equipo de médicos es el siguiente:</h3>
<div class="album py-5">
  	<div class="container text-center">
    	<!-- fila -->
		<div class="row">
			{% for medico in medicos %}
				<!-- columna -->
				<div class="col-md-4">
					<!-- card -->
					<div class="card mb-4 shadow-sm">
						<!-- img -->
						<div class="text-center">
							{% if medico.imagen %}
								<img src="{{ medico.imagen.url }}" class="imagenmedico img-fluid rounded-circle" alt="{{medico}}">
							{% endif %}
						</div>
						<!-- end img -->

						<!-- card body -->
						<div class="card-body">
							<h5 class="card-title">Dr. {{medico.nombre | capfirst}} {{medico.apellido | capfirst}}</h5>
							<p class="card-text">Especialidad: {{medico.especialidad | capfirst}}</p>
							<p class="card-text">Box de atención: {{medico.box | capfirst}}</p>						
						</div>
						<!-- end card body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end columna -->
			{% endfor %}
    	</div>
		<!-- end fila -->
	</div>
</div>


{% else %}

<p class="text-center">No hay medicos disponibles</p>

{% endif %}

{% endblock %}