{% extends "main/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hospital/css/hospital.css' %}">
{% endblock %}
{% block title %}Médicos{% endblock %}

{% block content %}

<div class="container text-center">

    <h1>Médicos</h1>
</div>

{% if medicos %}


<div class="container text-center">
    {% for medico in medicos %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if medico.imagen %}
                        <img src="{{ medico.imagen.url }}" class="imagenmedico img-fluid rounded-start" alt="{{medico}}">
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Dr. {{medico.nombre | capfirst}} {{medico.apellido | capfirst}}</h5>
                        <p class="card-text">Especialidad: {{medico.especialidad | capfirst}}</p>
                        <p class="card-text">Box de atención: {{medico.box | capfirst}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
No hay medicos disponibles

{% endif %}

{% endblock %}