{% extends "base.html" %}


{% block content %}
Aqui se reserva hora

{% if atenciones %}
    {% for atencion in atenciones %}
        {{atencion}}
    {% endfor %}
{% endif %}

<!-- Example split danger button -->

<h3>{{hoy}}</h3>

<div class="container">

    {% for sem in semana %}
    <table class="d-inline">
        <tr>
            <th>
                {{sem.dia}}
                <br>
                {{sem.fecha}}
            </th>
        </tr>
            {% for lh in sem.lista_horas %}
                <tr>
                    
                    <td>
                        
                        jojo
                        {{lh.get_hora}}
                        <br>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Médicos disponibles
                            </button>
                            <ul class="dropdown-menu">
                                {%for medico in lh.get_medicos%}
                              <li><a class="dropdown-item" href="#">{{medico}}</a></li>
                              {%endfor%}
                            </ul>
                          </div>
                        
                    </td>
                </tr>
            {% endfor %}    
        </table>
    {% endfor %}
    
</div>





{% endblock %}