{% extends "main/base.html" %}

{% block title %}Inicio{% endblock %}
{% block content %}


<!-- div presentacion -->
<div class="container my-5 text-center">
	<div class="mb-5">
		<h1>Bienvenido a S.R.A. Online</h1>
	
		<p class="lead fw-normal my-3 fs-4">
			Nuestra plataforma web permite a los usuarios reservar su atención médica para la semana actual, eligiendo el día, 
			la hora y el médico de su preferencia. Diseñada para solucionar el problema de acceso a servicios médicos en la 
			ciudad, nuestra herramienta elimina la necesidad de madrugar para conseguir una cita presencial. 
		</p>
	</div>
	

	<div class="mb-5">		
		<h2>¿Por qué utilizar S.R.A. Online?</h2>
		<p class="mt-3">
			Porque puede asegurar su atención médica de manera rápida y cómoda desde la comodidad de su hogar, con tan sólo unos clics. 
			Son solo <b>3</b> pasos los necesarios para efectuar su reserva. Todos los datos de su reserva lista se le enviarán a su
			correo para recordarle su cita y además dentro de nuestra plataforma podrá ver el historial de reservas para un 
			seguimiento fácil de sus visitas médicas. Nuestra prioridad es brindar una experiencia eficiente y sin estrés, 
			mejorando significativamente el acceso a la atención sanitaria en nuestra comunidad.
		</p>
		
		<a href="{% url 'auth:login' %}"><button class="btn btn-primary">Comenzar</button></a>
	</div>

	
	
</div>
<!-- end div presentacion -->




<!-- end seccion instrucciones -->


<div class="container"><hr></div>



<!-- seccion menu -->
<!-- <div class="container my-5">
	<div class="mb-5">
		<h2>Menú</h2>
		<p>A continuación se describirán brevemente los servicios disponibles en el menú.</p>
	</div>

	<div class="mb-5">
		<h3>1. Reservar hora</h3>
		<p>Puede reservar una atención médica haciendo click en <b>Reservar hora</b> en el menú.
		Solo tendrá que especificar el día, la hora y el médico que quiere que lo atienda.</p>
		
	</div>


	<div class="mb-5">
		<h3>2. Historial</h3>
		<p>Puede ver sus reservas de atención pasadas haciendo click en <b>Historial</b> en el menú.</p>
	</div>

	<div class="mb-5">
		<h3>3. Médicos</h3>
		<p>Puede ver nuestro equipo de médicos haciendo click en <b>Médicos</b> en el menú.
			Los médicos se mostrarán con su foto, nombre, su especialidad y el box en el que atienden.
		</p>		
	</div>



	<div class="mb-5">
		<h3>4. Mis datos</h3>
		<p>Puede ver y modificar los datos de su cuenta, como por ejemplo, nombre, contraseña, email, etc., haciendo click en <b>Mis datos</b> en el menú.</p>
	</div>


	<div class="mb-5">
		<h3>5. Contacto</h3>
		<p>Si tiene alguna duda, problema o comentario puede contactarse con nosotros enviándonos un email. 
		Para ello, haga click en <b>Contacto</b> en el menú. Nuestro equipo de soporte se comunicará con usted 
		via email lo antes posible.</p>
	</div>

</div> -->

<!-- end seccion menu -->


<!-- seccion uso  -->

<div class="container my-5">
	<div class="text-center mb-5">
		<h2>Condiciones de uso</h2>
		<p class="mt-3">Para que usted tenga la mejor experiencia posible, le recomendamos que lea atentamente 
			 las siguiente normas antes de reservar su atención médica. Esto le permitirá comprender
			más fácilmente el funcionamiento correcto de la plataforma.</p>
	</div>

	<div class="mb-5" id="horario_atencion">
		<h4>1. Horario de atención médica</h3>
		<p>El recinto médico atiende a sus pacientes en el siguiente horario:</p>
		<ul>
			<li>Lunes a Jueves desde las 8:00 hasta las 17:00 hrs.</li>
			<li>Viernes desde las 8:00 hastas las 16:00 hrs.</li>
		</ul>		
		<p class="text-danger"><b>El recinto médico no atiende en días feriados o fines de semana.</b></p>		
	</div>
	

	<div class="mb-5">
		<h4>2. Funcionamiento del sistema</h4>
		<p>Usted podrá efectuar una reserva de atención en el siguiente horario:
			<ul>
				<li>Domingo desde las 17:00 hasta viernes 7:30 hrs.</li>
			</ul>
		</p>

		<p>El sistema siempre mostrará los días hábiles restantes de la presente semana (sin considerar feriados).</p>
	
		<p>Usted podrá realizar la reserva de atención para un mismo día siempre y cuando se haga antes de las 7:30 hrs., sino deberá reservar para el día siguiente.</p>

		<p class="text-danger"><b>Si usted cuenta con una reserva que aún está activa, no podrá efectuar otra reserva de atención. 
			Deberá esperar que la reserva expire (fecha posterior a la de la reserva) para que quede nuevamente habilitado para realizar la operación.</b></p>

	</div>		



	<div class="mb-5">
		<h4>3. Médicos</h4>
		<p>Cada médico tiene asignado su propio box de atención, por lo que no pueden haber haber dos médicos que atiendan en el mismo box durante la semana.</p>
	</div>

</div>

<!-- end seccion uso -->


<div class="container"><hr></div>

<!-- seccion faq -->
<div class="container my-5">
	<div class=" text-center mb-5">
		<h2>FAQ</h2>
		<p class="mt-3">Las preguntas frecuentes (FAQ) son una recopilación de respuestas a las consultas más comunes que los usuarios 
			pueden tener sobre un servicio específico de nuestra plataforma. Si tiene un problema que no esté en esta sección
			no dude en contactar a nuestro soporte en la página de <a href="{% url 'cont:contacto' %}">Contacto</a>.
		</p>
	</div>

	<div class="mb-5">
		<h5>1. No hay horas disponibles para el día que quiero atenderme</h4>
		<p>
			Si al seleccionar un día el sistema le indica que no hay horas disponibles, entonces deberá elegir otro día para atenderse.
			Los cupos de atención por día son limitados. Por favor, revise el <a href="#horario_atencion">horario de atención</a> del centro médico si tiene alguna
			duda.
		</p>
	</div>

	<div class="mb-5">
		<h5>2. No aparece el médico que quiero a la hora seleccionada</h4>
		<p>
			El sistema sólo mostrará los médicos disponibles a la hora señalada, por lo que deberá seleccionar otra hora u otro día.
		</p>
	</div>

	<div class="mb-5">
		<h5>3. El sistema indica que ocurrió un error en la solicitud</h5>
		<p>
			Revise su conexión a internet y si no se le ha cerrado la sesión.
			Su sesión dura 10 minutos, por lo que si se demora más de ese tiempo
			su sesión expirará. Después de revisar estas dos condiciones intente
			nuevamente realizar la solicitud. Si después de realizar los pasos
			anteriores continúa el problema, <a href="{% url 'cont:contacto' %}">contáctese con nosotros</a>. 
		</p>
	</div>

	<div class="mb-5">
		<h5>4. No me llega el email para cambiar mi contraseña</h5>
		<p>
			Revise su carpeta de <i>Spam</i> de su email si es que está. 
			Además, asegúrese de haber escrito correctamente la dirección de email. 
			Si después de realizar estas dos verificaciones aún continúa con problemas, 
			no dude en <a href="{% url 'cont:contacto' %}">contactarse con nosotros</a>. 
		</p>
	</div>


</div>

<!-- end seccion preguntas -->

<div class="container"><hr></div>

<!-- seccion politica -->
<div class="container text-center my-5">
	<h2>Política de privacidad</h2>
	<p class="mt-3 mb-5">
		Nuestra página web se compromete a respetar la privacidad de los datos de nuestros usuarios. 
		Garantizamos que toda la información personal recopilada será utilizada exclusivamente para los 
		fines especificados y no será compartida con ninguna empresa externa ni utilizada de manera 
		indebida. Implementamos estrictas medidas de seguridad para proteger los datos y asegurar su 
		confidencialidad en todo momento.
	</p>
</div>
<!-- end seccion politica -->

<div class="container my-5"><hr></div>




  
{% endblock %}