<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">    
</head>
<body>

	<!-- footer -->
	<footer class="footer_sticky d-flex flex-wrap justify-content-between align-items-center">
		<p class="text-start my-2 mx-2"><img class="mx-2" src="{% static 'main/img/logo/logo_24px.jpg' %}" alt="SQR">© 2024 S.Q.R.</p>
		<p class="text-end my-2 mx-3">
			<a target="_blank" href="https://github.com/squirogar?tab=repositories"><img src="{% static 'main/img/github/github-w.png' %}" alt="mi repositorio" style="width: 24px; height: 24px;"></a>
			<a class="mx-2" target="_blank" href="https://www.linkedin.com/in/sebastian-quiroga-reyes/"><img src="{% static 'main/img/ln/ln.png' %}" alt="mi linkedin" style="width: 24px; height: 24px;"></a>
		</p>
	</footer>
    <!-- end footer -->

</body>
</html>