.formulario {
    font-size: larger;
}

#divlogin {
    max-width:500px;
    
}

input {
    border-color: #0d6efd !important;
}

#divReg {
    max-width:500px;
    
}

#divPassReset {
    max-width:500px;
    
}


#divPassResetConf {
    max-width:500px;
    
}

.divcontacto {
    background-color: #7ed6df;
    border-color: #22a6b3;
    border-width: 5px;
    border-style: solid;
}