{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'contacto/css/contacto.css' %}">


{% endblock %}
{% block title %}Contacto{% endblock %}

{% block content %} 

<!-- div contenido -->
<div class="container text-center my-5">
    <h1>Contacto</h1>

    {% if messages %}
        <!-- div mensajes -->
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
        <!-- end div mensajes -->
    {% endif %}

    <div id="principal" class="container border border-primary my-5">

        <!-- formulario contacto -->
        <form action="{% url 'cont:contacto' %}", method="POST" class="my-5" >
            {% csrf_token %}
            {{formulario|crispy}}
            <div class="d-flex justify-content-center ">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
    
        </form>
        <!-- end formulario contacto -->
    </div>

</div>
<!-- end div contenido -->



{% endblock %}